@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}
body header {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1803921569);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
body header .header-container {
  padding: 20px 40px;
}
body header .header-container .mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .header-container .mobile-menu span .fa-bars-staggered {
  font-size: 30px;
  color: #000;
}
body header .header-container .mobile-menu .logo img {
  width: 45px;
}
body header .header-container .mobile-menu .menu-open {
  display: none;
  width: 300px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.1s ease;
  background: #000;
  /* semi-transparent */
  /* Safari support */
  padding: 20px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
body header .header-container .mobile-menu .menu-open .close-menu {
  padding: 10px;
  background: rgba(102, 105, 102, 0.4784313725);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: block;
}
body header .header-container .mobile-menu .menu-open .close-menu .fa-xmark {
  font-size: 30px;
  color: #000;
}
body header .header-container .mobile-menu .show {
  display: block;
}
body header .header-container .mobile-menu nav ul {
  width: 400px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
body header .header-container .mobile-menu nav ul li {
  padding: 5px;
}
body header .header-container .mobile-menu nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}
body header .header-container .mobile-menu nav ul li a:hover {
  color: #000;
  border-bottom: 2px solid #22c55e;
}
body header .header-container .mobile-menu .city-select button.choose-city {
  background-color: transparent;
  outline: none;
  border: none;
  text-decoration: none;
  border: 2px solid rgba(17, 17, 17, 0.205);
  color: #6ec6af;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border-radius: 25px;
  transition: all 0.1s ease;
  cursor: pointer;
}
body header .header-container .mobile-menu .city-select button.choose-city:hover {
  border-bottom: 2px solid #6ec6af;
  background: #6ec6af;
  border: 2px solid #6ec6af;
  color: #fff;
}
body header .header-container .mobile-menu .city-select button.choose-city span {
  margin-right: 10px;
  font-size: 16px;
  border-radius: 50%;
  background: rgba(216, 210, 210, 0.432);
  padding: 5px;
}
body header .header-container .mobile-menu .city-select button.choose-city span:hover {
  color: #fff;
}
body header .header-container .mobile-menu .city-select .city-dropdown {
  display: none;
}
body header .header-container .mobile-menu .timezone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
body header .header-container .mobile-menu .timezone .timezone-logo {
  font-size: 20px;
  border-radius: 50%;
  background: rgba(216, 210, 210, 0.432);
  padding: 5px;
}
body header .header-container .mobile-menu .timezone .timezone-stat p {
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 2px 0;
}
body header .header-container .mobile-menu .timezone .timezone-stat .timezone-date {
  color: #000;
}
body header .header-container .mobile-menu .timezone .timezone-stat .timezone-curr-time {
  color: #6ec6af;
}
body dialog .overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  min-width: 600px;
  height: 150px;
  background-color: #9ca3af;
}
body dialog .overlay span {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: #fff;
  transition: all 0.1s ease;
}
body dialog .overlay span:hover {
  color: #ef4444;
  transform: scale(1.1);
}
body dialog .overlay p {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
body dialog .overlay .dialog-form {
  position: relative;
  margin-top: 20px;
}
body dialog .overlay .dialog-form label {
  font-size: 12px;
  color: #000;
  position: absolute;
  top: 12px;
  left: 16px;
  transition: all 0.1s ease;
}
body dialog .overlay .dialog-form input {
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}
body dialog .overlay .dialog-form input:focus-visible + label {
  color: #6b7280;
  font-size: 10px;
  top: 1px;
  left: 16px;
}
body dialog .overlay .dialog-form .suggestions {
  background: #56667e;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}
body dialog .overlay .dialog-form .suggestions .suggested-cities {
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  cursor: pointer;
}
body dialog .overlay .dialog-form .suggestions .suggested-cities:hover {
  background: #3e4b5e;
}
body .converter {
  padding: 20px 40px;
}
body .converter .curr-title {
  font-size: 32px;
  font-weight: 600;
  color: #000;
  padding: 10px 0;
}
body .converter .live-timer {
  display: flex;
  gap: 5px;
}
body .converter .live-timer .timezone-date {
  font-size: 12px;
  color: #000;
  display: inline;
  font-family: "Arimo", sans-serif;
}
body .converter .live-timer .timezone-curr-time {
  font-size: 12px;
  color: #000;
  font-family: "Arimo", sans-serif;
}
body .converter .dropdown {
  position: relative;
  width: 800px;
}
body .converter .dropdown .split-button-drops {
  display: flex;
  place-items: baseline;
  justify-content: space-between;
}
body .converter .dropdown .split-button-drops .btn-wid {
  width: 350px;
  margin-top: 10px;
}
body .converter .dropdown .split-button-drops .btn-wid label {
  font-size: 12px;
  font-weight: 600;
}
body .converter .dropdown .split-button-drops .btn-wid button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: #000;
  padding: 10px 0;
  cursor: pointer;
}
body .converter .dropdown .split-button-drops .btn-wid button P {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
body .converter .dropdown .split-button-drops .btn-wid button .moto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body .converter .dropdown .split-button-drops .btn-wid button .moto img {
  width: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1803921569);
  border-radius: 15px;
}
body .converter .dropdown .split-button-drops .btn-wid button .moto span i {
  font-size: 10px;
  text-align: center;
}
body .converter .dropdown .split-button-drops .btn-wid .generate-country.show {
  display: block;
}
body .converter .dropdown .split-button-drops .btn-wid .generate-country {
  display: none;
  height: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.35) transparent;
  margin-top: 10px;
}
body .converter .dropdown .split-button-drops .btn-wid .generate-country ul {
  list-style-type: none;
}
body .converter .dropdown .split-button-drops .btn-wid .generate-country ul li {
  font-size: 14px;
  color: white;
  padding: 5px;
  border-bottom: 1px solid white;
  cursor: pointer;
  transition: all 0.1s ease;
}
body .converter .dropdown .split-button-drops .btn-wid .generate-country ul li:hover {
  color: black;
  background-color: rgb(168, 166, 166);
  border-bottom: rgb(168, 166, 166);
}
body .converter .dropdown .split-button-drops .btn-wid .currency-input-container {
  display: inline;
}
body .converter .dropdown .split-button-drops .btn-wid .currency-input-container .curr-sign {
  font-size: 60px;
  font-weight: 100;
}
body .converter .dropdown .split-button-drops .btn-wid .currency-input-container .currency-input {
  border: none;
  outline: none;
  width: 88%;
  padding: 15px 0;
  font-size: 30px;
  color: red;
}
body .converter .dropdown .split-button-drops .revert span {
  background: white;
  border-radius: 15px;
  padding: 5px;
  font-size: 12px;
  transition: all 0.1s ease;
  cursor: pointer;
}
body .converter .dropdown .split-button-drops .revert span:hover {
  color: blue;
  transform: scale(1.1);
}
body .converter .dropdown .split-button-drops .revert:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
