/* Error: Undefined variable.
 *   ,
 * 4 |     $value: map-get($breakpoints, $breakpoint);
 *   |                     ^^^^^^^^^^^^
 *   '
 *   scss\variables\_mixins.scss 4:21  respond()
 *   scss\style.scss 24:5              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 4 \2502      $value: map-get($breakpoints, $breakpoint);\d\a   \2502                      ^^^^^^^^^^^^\a   \2575 \a   scss\\variables\\_mixins.scss 4:21  respond()\a   scss\\style.scss 24:5              root stylesheet";
}
