@use "./variables/breakpoints";
@use "./variables//mixins";
@use "./variables/colors";

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    // background-color: colors.$bg-primary;
    font-family: "Raleway", sans-serif;

    header {
        width: 100%;
        background-color: transparent;
        border-bottom: 1px solid #ffffff2e;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        // @include mixins.respond-between(mobile-sm, tablet) {
        //     width: 100%;
        // }

        .header-container {
            padding: 20px 40px;

            // @include mixins.respond-between(mobile-sm, tablet) {
            //     justify-content: space-between;
            // }

            .mobile-menu {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    // padding: 10px;
                    // background: #6669667a;
                    // border-radius: 100%;
                    // height: 50px;
                    // width: 50px;
                    // display: block;

                    .fa-bars-staggered {
                        font-size: 30px;
                        color: #000;
                    }
                }

                // @include mixins.respond-between(tablet-lg) {
                //     display: none;
                // }

                // @media (min-width: 1024px) {
                //     display: none;
                // }

                .logo {
                    img {
                        width: 45px;
                    }
                }

                .menu-open {
                    display: none;
                    width: 300px;
                    height: 100%;
                    // background-color: red;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition: all 0.1s ease;
                    background: #000;
                    /* semi-transparent */
                    // backdrop-filter: blur(10px);
                    // -webkit-backdrop-filter: blur(10px);
                    /* Safari support */
                    padding: 20px;
                    border-top-left-radius: 40px;
                    border-bottom-left-radius: 40px;
                    // border-radius: 12px;


                    .close-menu {
                        padding: 10px;
                        background: #6669667a;
                        border-radius: 100%;
                        height: 50px;
                        width: 50px;
                        display: block;

                        .fa-xmark {
                            font-size: 30px;
                            color: #000;
                        }
                    }

                }

                .show {
                    display: block;
                }

                nav {

                    ul {
                        width: 400px;
                        height: inherit;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        list-style: none;

                        li {
                            padding: 5px;

                            a {
                                text-decoration: none;
                                color: #000;
                                font-size: 18px;
                                font-weight: 400;
                                padding: 10px;

                                &:hover {
                                    color: #000;
                                    border-bottom: 2px solid colors.$success;
                                }
                            }

                            // &:hover {
                            //     // padding-top: 10px;
                            // }

                        }
                    }

                    // @include mixins.respond-between(mobile-sm, tablet) {
                    //     display: none;
                    // }
                }

                .city-select {

                    button.choose-city {
                        background-color: transparent;
                        outline: none;
                        border: none;
                        text-decoration: none;
                        border: 2px solid rgba(17, 17, 17, 0.205);
                        color: #6ec6af;
                        font-size: 14px;
                        font-weight: 600;
                        padding: 10px;
                        border-radius: 25px;
                        transition: all 0.1s ease;
                        cursor: pointer;

                        &:hover {
                            border-bottom: 2px solid #6ec6af;
                            background: #6ec6af;
                            border: 2px solid #6ec6af;
                            color: #fff;
                        }

                        span {
                            margin-right: 10px;
                            font-size: 16px;
                            border-radius: 50%;
                            background: rgba(216, 210, 210, 0.432);
                            padding: 5px;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }

                    .city-dropdown {
                        display: none;
                    }

                    // @include mixins.respond-between(mobile-sm, tablet) {
                    //     display: none;
                    // }
                }

                .timezone {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    .timezone-logo {
                        font-size: 20px;
                        border-radius: 50%;
                        background: rgba(216, 210, 210, 0.432);
                        padding: 5px;
                    }

                    .timezone-stat {
                        p {
                            font-family: "Arimo", sans-serif;
                            font-size: 14px;
                            font-weight: 600;
                            padding: 2px 0;
                        }

                        .timezone-date {
                            color: #000;
                        }

                        .timezone-curr-time {
                            color: #6ec6af;
                        }
                    }

                    // @include mixins.respond-between(mobile-sm, tablet) {
                    //     display: none;
                    // }
                }
            }

        }

    }

    dialog {

        .overlay {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 15px;
            min-width: 600px;
            height: 150px;
            background-color: colors.$text-secondary;

            span {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                color: #fff;
                transition: all 0.1s ease;

                &:hover {
                    color: colors.$error;
                    transform: scale(1.1);
                }

            }

            p {
                font-size: 18px;
                font-weight: 600;
                color: #fff;
            }

            .dialog-form {
                position: relative;
                margin-top: 20px;

                label {
                    font-size: 12px;
                    color: #000;
                    position: absolute;
                    top: 12px;
                    left: 16px;
                    transition: all 0.1s ease;
                }

                input {
                    // width: calc(100% - 80px);
                    width: 400px;
                    padding: 15px;
                    border-radius: 10px;
                    border: none;
                    outline: none;

                    &:focus-visible {

                        &+label {
                            color: colors.$text-disabled;
                            font-size: 10px;
                            top: 1px;
                            left: 16px;
                        }
                    }
                }

                .suggestions {
                    background: colors.$btn-secondary-hover;
                    border-radius: 10px;
                    position: absolute;
                    width: 100%;
                    overflow-x: hidden;

                    .suggested-cities {
                        font-size: 14px;
                        font-weight: 500;
                        padding: 5px;
                        cursor: pointer;

                        &:hover {
                            background: colors.$btn-secondary-hover-two;
                        }
                    }
                }
            }
        }
    }

    .converter {
        padding: 20px 40px;

        .curr-title {
            font-size: 32px;
            font-weight: 600;
            color: #000;
            padding: 10px 0;
        }

        .live-timer {
            display: flex;
            gap: 5px;

            .timezone-date {
                font-size: 12px;
                color: #000;
                display: inline;
                font-family: "Arimo", sans-serif;
            }

            .timezone-curr-time {
                font-size: 12px;
                color: #000;
                font-family: "Arimo", sans-serif;
            }
        }

        // #currency-form {
        //     max-width: 800px;
        //     background-color: transparent;
        //     padding: 10px;
        //     margin-top: 35px;

        //     .currency-window {
        //         display: flex;
        //         align-items: center;
        //         justify-content: space-between;

        //         .source {

        //             .from-text {
        //                 display: block;
        //                 font-size: 11px;
        //                 font-weight: 700;
        //                 padding: 5px 0;
        //                 color: #ffffff7d;
        //             }

        //             #from-dropdown {
        //                 border: none;
        //                 outline: none;
        //                 background-color: transparent;
        //                 color: #fff;
        //                 border-bottom: 1px solid #fff;
        //                 min-width: 350px;
        //                 padding: 15px 0;

        //                 .dropdown-options {
        //                     color: #000;
        //                 }
        //             }
        //         }

        //         .revert-btn {}

        //         .target {
        //             .to-text {
        //                 display: block;
        //                 font-size: 11px;
        //                 font-weight: 700;
        //                 padding: 5px 0;
        //                 color: #ffffff7d;
        //             }

        //             #to-dropdown {
        //                 min-width: 350px;
        //                 border: none;
        //                 outline: none;
        //                 background-color: transparent;
        //                 color: #fff;
        //                 border-bottom: 1px solid #fff;
        //                 padding: 15px 0;
        //             }
        //         }
        //     }
        // }
        .dropdown {
            position: relative;
            width: 800px;
            margin-top: 20px;

            .split-button-drops {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .btn-wid {
                    width: 350px;
                    margin-top: 10px;

                    label {
                        font-size: 12px;
                        font-weight: 600;
                    }

                    button {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #c9c6c6;
                        outline: none;
                        color: #000;
                        padding: 10px 0;
                        cursor: pointer;

                        P {
                            font-size: 18px;
                            font-weight: 600;
                            color: #000;
                        }

                        .moto {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;

                            img {
                                width: 30px;
                                border: 1px solid #ffffff2e;
                                border-radius: 15px;

                            }

                            span i {
                                font-size: 10px;
                                text-align: center;
                            }
                        }
                    }

                    .generate-country.show {
                        display: block;
                    }

                    .generate-country {
                        display: none;
                        height: 120px;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        scrollbar-width: thin;
                        scrollbar-color: rgba(66, 66, 66, 0.524) transparent;
                        margin-top: 10px;

                        ul {
                            list-style-type: none;

                            li {
                                padding: 8px 0;
                                cursor: pointer;
                                transition: all 0.1s ease;

                                &:hover {
                                    color: black;
                                    background-color: rgb(168, 166, 166);
                                    border-bottom: rgb(168, 166, 166);
                                }

                                p {
                                    display: inline;
                                    font-size: 18px;
                                    font-weight: 600;
                                    text-align: center;
                                }

                                span {
                                    float: right;

                                    img {
                                        width: 30px;
                                        margin-right: 12px;
                                    }
                                }
                            }
                        }
                    }

                    .currency-input-container {
                        display: inline;

                        .curr-sign {
                            font-size: 60px;
                            font-weight: 100;
                        }

                        .currency-input {
                            border: none;
                            outline: none;
                            width: 88%;
                            padding: 15px 0;
                            font-size: 60px;
                            font-weight: 100;
                            color: #6ec6af;

                            &::placeholder {
                                color: rgba(85, 82, 82, 0.313);
                                font-weight: 100;
                            }


                        }
                    }
                }


                .revert {

                    span {
                        background: #bababa97;
                        border-radius: 20px;
                        padding: 5px;
                        font-size: 20px;
                        transition: all 0.1s ease;
                        cursor: pointer;
                        color: #fff;

                        &:hover {
                            color: #6ec6af;
                            transform: scale(1.1);
                            background: #ffffff97;
                        }

                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

}