@use "breakpoints";

@mixin respond($breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @if $value {
        @media (min-width: $value) {
            @content;
        }
    }

    @else {
        @error "No breakpoint found for `#{$breakpoint}`";
    }
}